body {
  padding: 80px 80px;
  padding-top: 120px;
  background-color: #fffefe;
  background-image: url("./images/greysmallclouds.gif");
  background-repeat: inherit;
}
h1,
h2 {
  color: #333344;
}
h2 {
  padding-top: 5px;
}
p {
  font-size: 18px;
}

.weather-app {
  font-family: "Darker Grotesque", sans-serif;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
  margin: 0 auto;
  max-width: 650px;
  padding: 0px;
  background-image: url("./images/mountains.png");
  background-repeat: no-repeat;
  background-size: 990px;
}
.content {
  padding: 35px 35px 24px 35px;
  background-color: rgba(243, 243, 243, 0.5);
}
.inputform {
  padding-right: 0px;
}
.buttons {
  padding-left: 0px;
}
.find,
.locate {
  background: #5c636a;
  color: #ffff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.degree {
  position: relative;
  font-size: 35px;
  bottom: -11px;
}

.units {
  position: relative;
  top: -7px;
  left: -7px;
  font-size: 13px;
  font-weight: bold;
}
a.links {
  text-decoration: none;
  color: #333344;
  font-size: larger;
  cursor: default;
}
a.links:hover {
  font-size: 25px;
  color: #333344;
}
.links.active {
  color: black;
  cursor: default;
  font-size: 17px;
}
.daily {
  padding-bottom: 5px;
}
.week {
  text-align: center;
  font-size: 17px;
}
.week:hover {
  color: #ffff;
  font-size: 22px;
  background: #5c636a;
}
.info,
.temp {
  padding-top: 7px;
}
.temp {
  padding-left: 30px;
}
.mid {
  display: block;
}
.git {
  float: right;
  padding-top: 25px;
}
